#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.App {
  font-family: sans-serif;
  text-align: center;
  border-radius: 15px;
  background-color: #777777d1;
  max-width: 1000px;
  /* height: 80vh; */
  margin: 0px auto;
}

.bingoTable {
  margin: 10px auto;
  font-size: 30px;
  border-collapse: collapse;
}

th,
td {
  border: #000 solid 1px;
  margin: 0px;
  padding: 2px;
  width: 50px;
  height: 70px;
}
